.SearchAreaRow {
    margin-top: 1px;
    height: 25px;
}

.SearchArea-SchoolRow {
    display: block;
    height: 25px;
}

.SearchTextBox {
    width: 100px;
}

.SearchAreaDIV {
    display: inline-block;
}

.Search-Area-Sigal {
    border: 2px solid dodgerblue;
    border-radius: 20px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 5px;
}

.highlightSearchBox {
    border: 1px solid #0094ff;
}

.term {
    display: inline-block;
    float: right;
}

.imgHelp {
    width: 23px;
    height: 23px;
    margin-top: -10px;
}

#alphabateSearch .alphabateKey {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
}

#alphabateSearch ul {
    margin-top: -20px;
}

#TextSearch {
    margin-bottom: -5px;
}

.SearchBox {
    width: 100px;
    height: 19px;
}

    .SearchBox:focus {
        border: 1px solid dodgerblue;
    }

    .SearchBox:visited {
        border: 1px solid skyblue;
    }

    .SearchBox:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

.SearchDDL {
}

    .SearchDDL:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

.SearchGoButton {
    margin-bottom: -5px;
    border: 1px solid dodgerblue;
    border-radius: 9px;
    height: 18px;
    width: 40px;
}

    .SearchGoButton:hover {
        border: 2px ridge dodgerblue;
        /*  filter: grayscale(20%) blur(1px);*/
        filter: contrast(200%);
    }

.action-button {
    border: 2px solid dodgerblue;
    text-align: center;
    outline: 0;
    border-radius: 9px;
    height: 25px;
    margin-left: 15px;
}

    .action-button:hover {
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }



.hideMe {
    display: none;
}

.Gobutton {
    display: inline;
    padding-top: 0px;
    margin-bottom: -5px;
}

#btnSearch:hover {
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
}

#SearchBar {
    position: absolute;
    top: 40px;
    left: 1000px;
}

.MessageRow {
    background: dodgerblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(dodgerblue, lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(dodgerblue, lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(dodgerblue, lightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(dodgerblue, lightblue); /* Standard syntax */
    color:white;
}

.SearchBox {
    background-color: transparent;
    border: 0px;
    color:black;
   /* font-weight: bold;*/
}
